[Desktop Entry]
Type=Application
Name=Supply Chain Quest
Exec=/home/pi/supply-chain-quest/python_app/deployment/start-kiosk.sh
X-GNOME-Autostart-enabled=true
